<p-toast></p-toast>

<div class="grid">
    <div class="col">
        <p class="text-primary text-7xl my-0 animate__animated animate__fadeIn">SimpliUNA</p>
    </div>
</div>
<hr>

<div class="grid surface-50 py-5 my-5">
    <div class="col-11 mx-auto">
        <app-tabla-cursos-registrados></app-tabla-cursos-registrados>
    </div>
</div>
<p-divider align="center">
    <p-button label="Generar Horarios" (onClick)="generarHorarios()" pRipple icon="pi pi-search" styleClass="p-button-outlined p-button-rounded"></p-button>
</p-divider>

<div class="grid surface-50 py-5 my-5">
    <div class="col-11 mx-auto">
        <app-tab-view-horarios-generados></app-tab-view-horarios-generados>
    </div>
</div>


